#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.dcu
*.dll
*.ini
*.um
[B|b]ackup/*
*/[C|c]ompiled/*
*/_[I|i]n[F|f]uture/*
*.~*
*.$$$
[P|p][R|r][E|e][F|f][S|s]/*
[B|b]ackup*/*
[D|d]cu/*
[E|e]xport/*
*.key
*.KEY
*.log
*.ini
*.INI
*.um
*.UM
*.$$$
*.123
*.jpg
*.png
*.bmp
*.gif
cgi-bin
_backup*
*.zip
*.tar
*.tar.gz
[D|d][E|e][P|p][L|l][O|o][Y|y]/*

.htpasswd
/nbproject/private/
/nbproject/

!/setup/.htaccess
.vscode 
.idea

/vendor/
/logs/*
.phpunit.result.cache
/.phpdoc/
/build/api/
/build/coverage/
/build/coverage-html/
/build/doc/
/build/logs/
/build/pdepend/
/build/phpdox/
/*.phar
/composer.lock
