/.github export-ignore
/build export-ignore
/examples export-ignore
/make export-ignore
/tests export-ignore
/build.ant.xml export-ignore
/build.xml export-ignore
/CHANGELOG.md export-ignore
/CODE_OF_CONDUCT.md export-ignore
/CONTRIBUTING.md export-ignore
/README.md export-ignore
/SECURITY.md export-ignore
