<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="default">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <directory suffix=".php">./src/entities</directory>
            <directory suffix=".php">./src/exception</directory>
            <file>./src/ZugferdProfiles.php</file>
        </exclude>
        <report>
            <xml outputDirectory="./build/logs/xml-coverage"/>
            <clover outputFile="./build/logs/clover.xml"/>
            <crap4j outputFile="./build/logs/crap4j.xml" threshold="50"/>
        </report>
    </coverage>
    <logging>
        <junit outputFile="build/logs/junit.xml"/>
    </logging>
</phpunit>
