name: Release

on:
  push:
    tags:
      - "v*"
    paths-ignore:
      - '**.md'
      - '.github/**'
      - 'examples/**'

jobs:
  build:
    permissions: write-all
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup PHP with PECL extension
        uses: shivammathur/setup-php@v2
        with:
            php-version: '8.1'
            extensions: imagick, swoole
            coverage: xdebug
      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
            java-version: '11'
            distribution: 'adopt'
      - name: Build with Ant
        run: ant -noinput -buildfile build.ant.xml
      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
            files: "./build/logs/junit.xml"
      - name: Make Release
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
            repo_token: "${{ secrets.GITHUB_TOKEN }}"
            prerelease: false
            files: |
                build/dist/doc.zip
                build/dist/builddoc.zip
