name: CI (Ant, PHP 8.0)

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Setup PHP with PECL extension
        uses: shivammathur/setup-php@v2
        with:
            php-version: '8.0'
            extensions: imagick, swoole      
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
            java-version: '11'
            distribution: 'adopt'
      - name: Build with Ant
        run: ant -noinput -buildfile build.ant.xml
